*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* paragraphs */
/* font-family: "Josefin Sans", sans-serif;
font-family: "Open Sans Condensed", sans-serif;
font-family: "Quicksand", sans-serif; */
/* headings */
/* font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive; <--- better*/
body {
  overscroll-behavior: none;
  background-color: #353535;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: grid;
  grid-template-rows: 5rem min-content auto;
  grid-template-areas: "header" "main" "footer";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353535;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0.7rem;
  font-size: 1.4rem;
  background-color: #e99904;
  color: #fff;
  grid-area: header;
  -webkit-box-shadow: 0px 5px 21px 1px #000000;
  -moz-box-shadow: 0px 5px 21px 1px #000000;
  box-shadow: 0px 5px 21px 1px #000000;
}

.text--primary {
  color: #ff00b3;
}

.text--secondary {
  color: #d9ff00;
}

ul {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  list-style: none;
  flex-direction: column;
}
@media (min-width: 900px) {
  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.menu.open .item {
  display: block;
}
.menu.open li:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}
.menu.open .logo {
  margin-bottom: 1rem;
}

.logo h1 {
  font-size: 3rem;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-right: 4rem;
}
.logo h1 a:hover {
  color: #000;
}
@media (min-width: 900px) {
  .logo h1 {
    margin-bottom: 0.8rem;
  }
}

.item {
  display: none;
  list-style-type: none;
  padding: 1rem;
}
.item a:hover {
  color: #000;
}
@media (min-width: 900px) {
  .item {
    display: block;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

main {
  grid-area: main;
  overflow: hidden;
  background-color: #353535;
}

.main--background-container {
  position: relative;
}
.main--background-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../resources/images/PortfolioEditedCutShadow.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .main--background-container {
    height: 75vh;
  }
  .main--background-container::before {
    clip-path: ellipse(90vw 60vh at 50% 18%);
    background-position: 48% 50%;
  }
}
@media (min-width: 600px) {
  .main--background-container {
    height: 55vh;
  }
  .main--background-container::before {
    clip-path: ellipse(90vw 45vh at 50% 18%);
    background-position: 46% 20%;
  }
}
@media (min-width: 900px) {
  .main--background-container {
    height: 60vh;
  }
  .main--background-container::before {
    clip-path: ellipse(90vw 55vh at 50% 5%);
    background-position: 50% 5%;
  }
}
@media (min-width: 1200px) {
  .main--background-container {
    height: 90vh;
    min-height: 750px;
  }
  .main--background-container::before {
    clip-path: circle(50%);
    width: 50%;
    height: 102%;
    right: 0;
    background-size: contain;
    background-position: 40vw 8vh;
    background-attachment: fixed;
  }
}
@media (min-width: 1800px) {
  .main--background-container {
    height: 80vh;
  }
  .main--background-container::before {
    width: 50%;
    right: 0;
    background-size: contain;
    background-position: 38vw 8vh;
    background-attachment: fixed;
  }
}

.content {
  background-color: #353535;
}
.content article {
  font-size: 1.2rem;
  padding: 2rem;
  min-height: 30vh;
}
@media (min-width: 600px) {
  .content article {
    padding: 4rem;
  }
}
.content article h2 {
  margin-bottom: 2rem;
  padding: 0;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
}
@media (min-width: 600px) {
  .content article h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .content article:first-child {
    position: absolute;
    top: 10%;
    width: 50%;
    font-size: 1.5rem;
    background-color: transparent;
  }
}

.content--article__primary {
  background-color: #353535;
  color: white;
}
.content--article__primary p,
.content--article__primary h3 {
  margin: 0;
}
.content--article__primary h3 {
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .content--article__primary h3 {
    font-size: 2rem;
  }
}
.content--article__primary h2 {
  margin: 0;
}

.content--article__secondary {
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
  background-color: #ffee00;
}
.content--article__secondary h2 {
  margin-top: 5rem;
}
.card-skill {
  border-radius: 0.5rem;
  -webkit-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.466);
  -moz-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.466);
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.466);
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 5rem;
  overflow: hidden;
}
@media (min-width: 600px) {
  .card-skill {
    padding: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .card-skill {
    padding: 3rem;
    max-width: 60vw;
  }
}
.card-skill h4 {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.575);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
.card-skill .card-skill__icon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.box-skill {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.box-skill img {
  width: 90px;
  height: 90px;
}

.box-contact {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.box-contact img {
  width: 40px;
  height: 40px;
}
.box-contact .contact-info h4 {
  opacity: 0.8;
}
.box-contact .contact-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid white;
  width: 300px;
  height: 100px;
  transition: 0.5s;
}
.box-contact .contact-mail:hover {
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.212);
  cursor: pointer;
}
.box-contact .contact-links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
}
.box-contact .contact-links button {
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  background-color: gray;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  transition: 0.5s;
  font-weight: 600;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  -webkit-box-shadow: 0 0 0.125rem 0.25rem rgba(0, 0, 0, 0.062);
  -moz-box-shadow: 0 0 0.125rem 0.25rem rgba(0, 0, 0, 0.062);
  box-shadow: 0 0 0.125rem 0.25rem rgba(0, 0, 0, 0.062);
}
.box-contact .contact-links button:hover {
  cursor: pointer;
}
.box-contact .contact-links a {
  display: flex;
  align-items: center;
  justify-content: start;
}
.box-contact .contact-links a span {
  margin: 0.5rem;
}
.box-contact .contact-links .btn--cv {
  background-color: #ff0055;
}
.box-contact .contact-links .btn--cv:hover {
  background-color: #d80b4f;
}
.box-contact .contact-links .btn--linkedin {
  background-color: #0077b5;
}
.box-contact .contact-links .btn--linkedin:hover {
  background-color: #016296;
}
.box-contact .contact-links .btn--github {
  background-color: #4f4f4f;
}
.box-contact .contact-links .btn--github:hover {
  background-color: #494949;
}
.box-contact .contact-links .btn--mail {
  background-color: #e9a104;
}
.box-contact .contact-links .btn--mail:hover {
  background-color: #c78a08;
}

footer {
  grid-area: footer;
  background-color: #202020;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.article--email-box {
  text-align: center;
  margin: 5rem 0;
}

.centered-container {
  background-color: rgba(0, 0, 0, 0.075);
  color: black;
  display: inline-flex;
  border-radius: 0.125rem;
  border: 1.5px solid rgba(255, 255, 255, 0.253);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.4rem;
}
.centered-container:hover {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.212);
}
.centered-container:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}
.centered-container:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.link {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.link--arrowed {
  display: inline-block;
  padding: 1.5rem 2rem;
  line-height: 2rem;
}
.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 900px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  -moz-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  -moz-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2) #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*# sourceMappingURL=main.css.map */
