$font-main: "Josefin Sans", sans-serif;
$font-header: "Caveat", cursive;
$font-paragraph: "Quicksand", sans-serif;

$header-color: #e99904;
$main-color: #aad11c;
$content-color: #d1a71c;
$footer-color: rgb(61, 61, 61);
$primary-color: #932ce7;
$secondary-color: #e9d204;

@mixin phone {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin tablet-up {
	@media (min-width: 900px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* paragraphs */
/* font-family: "Josefin Sans", sans-serif;
font-family: "Open Sans Condensed", sans-serif;
font-family: "Quicksand", sans-serif; */

/* headings */
/* font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive; <--- better*/
body {
	font-family: $font-main;
	margin: 0;
	padding: 0;
	font-size: 100%;
	display: grid;
	grid-template-rows: 6rem min-content auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
header {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 0.6rem;
	font-size: 1.4rem;
	background-color: $header-color;
	color: #fff;
	grid-area: header;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: space-around;
}
.logo h1 {
	margin: 0;
}
.item {
	list-style-type: none;
	a {
		text-decoration: none;
		color: #fff;
	}
}
main {
	grid-area: main;
	overflow: hidden;
	background-color: $main-color;
}
.main--background-container {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(../images/PortfolioEditedCutShadow.jpg) no-repeat;
		z-index: -1;
		background-size: cover;
		transform: skew(50deg);
	}

	@include phone() {
		height: 75vh;
		transform: skew(-50deg);
		&::before {
			background-position: 46% 50%;
		}
	}

	@include tablet() {
		height: 75vh;
		transform: skew(-50deg);
		// Skew to delete (unused with visibility not hidden)
		&::before {
			background-position: 46% 50%;
		}
	}
	@include desktop() {
		height: 90vh;
		overflow: hidden;
		transform: skew(-50deg);

		&::before {
			background-position: 0 70px;
			background-attachment: fixed;
		}
	}
}

.background--content {
	/* background: url(./images/—Pngtree—blue\ 3d\ paint\ brush\ element_5322257.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 70%; */
	position: absolute;
	bottom: 0;
	left: 15%;
	transform: translateY(-50%) skew(50deg);
	font-size: 50px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	z-index: 1;
	text-align: center;

	h2 {
		font-family: $font-header;
		margin: 0;
		padding: 20px;
		position: relative;
	}
	h2:after,
	h2:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 400px;
		height: 3px;
		background: #fff;
		transform: translateX(-50%);
	}
	h2:before {
		top: auto;
		bottom: 0;
	}
}
.content {
	background-color: $content-color;
	article {
		padding: 2.5rem;
		min-height: 30vh;
	}
}
.content--article__primary {
	background-color: $primary-color;
	p {
		color: white;
		margin: 0;
	}
}
.content--article__secondary {
	background-color: $secondary-color;
}

footer {
	grid-area: footer;
	background-color: $footer-color;
	color: #fff;
	padding: 1rem;
	text-align: center;
}
